<!-- wp:group {"tagName":"footer","className":"site-footer"} -->
<footer class="wp-block-group site-footer">
    <!-- wp:group {"className":"container"} -->
    <div class="wp-block-group container">
        <!-- wp:group {"className":"footer-bottom"} -->
        <div class="wp-block-group footer-bottom">
            <!-- wp:paragraph {"className":"text-center"} -->
            <p class="has-text-align-center">&copy; 2025 OLON Sentiment TV. Built with sentiment.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</footer>
<!-- /wp:group -->
